<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/room.js"></script>
    <script src="/javascripts/canvas.js"></script>

    <script src="/javascripts/database.js"></script>
    <script src="/javascripts/idb.js"></script>
</head>
<body onload="init()">
imgId = <%= imgId %>, roomId = <%= roomId %> 
</body>
</html>
