.chat-bg {
    background-color: rgb(237, 237, 237);
}

.chat-msg-light {
    background-color: rgb(255, 255, 255);
}

.chat-msg-me {
    background-color: rgb(160, 234, 111);
}


.info-msg {
    background-color: rgb(211, 211, 211);
}

.drawing-img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

.drawing-canvas{
    position: absolute;
}

.kg-bg {
    background-color: rgb(237, 237, 237);
}

.kge-search-picker {
    z-index: 1;
}

.guide-overlay {
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100vh; 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.75); 
    z-index: 2;
    color: white;
}

.guide-item { 
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
}

.guide-btn { 
    position: absolute;
    margin:auto;
    bottom: 5vh;
    left: 0;
    right: 0;
}